package routerInitialize

import {{.appName}} "github.com/wujunyi792/flamego-quick-template/internal/app/{{.appName}}/router"

func init() {
	routers = append(routers, {{.appName}}.App{{.appNameExport}}Init)
}
