package routerInitialize

import {{.appName}} "github.com/wujunyi792/gin-template-new/internal/app/{{.appName}}/router"

func init() {
	routers = append(routers, {{.appName}}.App{{.appNameExport}}Init)
}
